In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("FPL_2018_19_Wk0.csv")
data.head()

,Name,Team,Position,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,...,Own_goals,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points
0,Adam Smith,BOU,DEF,45,345.5,455.0,144.0,94.5,38,1,...,0,0,0,0,6,0,0.3,2067,3,56
1,Adrian,WHU,GKP,45,0.0,470.4,0.0,47.0,29,0,...,0,0,0,69,2,0,0.6,1710,5,72
2,Aguero,MCI,FWD,110,570.8,966.4,1484.0,302.5,12,21,...,0,0,0,0,2,0,12.6,1960,22,169
3,Ake,BOU,DEF,50,115.1,932.4,287.0,133.5,59,2,...,0,0,0,0,5,0,5.7,3352,8,102
4,Albrighton,LEI,MID,55,718.3,580.0,300.0,160.2,42,2,...,0,0,0,0,5,1,1.1,2533,12,107

In [3]:
data.columns

Index(['Name', 'Team', 'Position', 'Cost', 'Creativity', 'Influence', 'Threat',
       'ICT', 'Goals_conceded', 'Goals_scored', 'Assists', 'Own_goals',
       'Penalties_missed', 'Penalties_saved', 'Saves', 'Yellow_cards',
       'Red_cards', 'TSB', 'Minutes', 'Bonus', 'Points'],
      dtype='object')

In [7]:
def p90_calculator(var_value,min_played):
    
    ninety_min_rounds = min_played/90
    
    goals_scored_p90 = var_value/ninety_min_rounds
    
    return goals_scored_p90

p90_calculator(25,2111)

1.065845570819517

In [8]:
def p90_Calculator(value, minutes):
    return value/(minutes/90)

p90_Calculator(20,1835)

0.9809264305177111

In [9]:
data['total_pts_p90'] = p90_calculator(data.Points,data.Minutes)
data['total_pts_p90'].fillna(0,inplace=True)
data

,Name,Team,Position,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,...,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points,total_pts_p90
0,Adam Smith,BOU,DEF,45,345.5,455.0,144.0,94.5,38,1,...,0,0,0,6,0,0.3,2067,3,56,2.438316
1,Adrian,WHU,GKP,45,0.0,470.4,0.0,47.0,29,0,...,0,0,69,2,0,0.6,1710,5,72,3.789474
2,Aguero,MCI,FWD,110,570.8,966.4,1484.0,302.5,12,21,...,0,0,0,2,0,12.6,1960,22,169,7.760204
3,Ake,BOU,DEF,50,115.1,932.4,287.0,133.5,59,2,...,0,0,0,5,0,5.7,3352,8,102,2.738663
4,Albrighton,LEI,MID,55,718.3,580.0,300.0,160.2,42,2,...,0,0,0,5,1,1.1,2533,12,107,3.801816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,Zohore,CAR,FWD,50,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,1.1,0,0,0,0.000000
468,van Aanholt,CRY,DEF,55,303.8,537.0,319.0,116.3,38,5,...,0,0,0,7,0,5.6,2182,7,95,3.918423
469,van Dijk,LIV,DEF,60,122.6,601.0,277.0,100.2,28,0,...,0,0,0,1,0,14.4,2253,5,78,3.115846
470,van La Parra,HUD,MID,50,261.6,322.6,544.0,112.7,36,3,...,0,0,0,3,1,0.1,2131,3,74,3.125293
471,Ozil,ARS,MID,85,1287.5,640.6,555.0,248.6,36,4,...,0,0,0,4,0,2.5,2161,11,112,4.664507

In [10]:
data.sort_values(by='total_pts_p90',ascending=False)

,Name,Team,Position,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,...,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points,total_pts_p90
334,Oxford,WHU,DEF,45,0.0,3.0,0.0,0.3,0,0,...,0,0,0,0,0,0.2,4,0,1,22.500000
445,Wells,BUR,FWD,45,3.5,7.2,37.0,4.7,3,0,...,0,0,0,0,0,2.1,46,0,9,17.608696
148,Foden,MCI,MID,50,32.1,29.2,10.0,7.1,1,0,...,0,0,0,0,0,0.1,45,0,8,16.000000
393,Sinclair,WAT,FWD,45,11.0,4.4,4.0,1.9,1,0,...,0,0,0,0,0,1.5,29,0,4,12.413793
194,Hugill,WHU,FWD,50,0.4,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0.1,22,0,3,12.272727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,Sema,WAT,MID,50,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0.1,0,0,0,0.000000
85,Coady,WOL,DEF,45,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0.6,0,0,0,0.000000
154,Fred,MUN,MID,60,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,3.7,0,0,0,0.000000
376,Saiss,WOL,DEF,45,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0.4,0,0,0,0.000000
117,Diakhaby,HUD,MID,50,0.0,0.0,0.0,0.0,0,0,...,0,0,0,0,0,0.0,0,0,0,0.000000

In [11]:
data['total_pts_p90'].max()

22.5

In [13]:
data.sort_values(by='total_pts_p90', ascending =False)[data.Minutes>400].head(10)

C:\Users\shubham\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,Name,Team,Position,Cost,Creativity,Influence,Threat,ICT,Goals_conceded,Goals_scored,...,Penalties_missed,Penalties_saved,Saves,Yellow_cards,Red_cards,TSB,Minutes,Bonus,Points,total_pts_p90
373,Salah,LIV,MID,130,942.5,1496.2,2109.0,454.4,29,32,...,1,0,0,1,0,47.5,2905,26,303,9.387263
409,Sterling,MCI,MID,110,838.2,969.8,1488.0,329.7,23,18,...,0,0,0,3,1,3.0,2584,19,229,7.976006
2,Aguero,MCI,FWD,110,570.8,966.4,1484.0,302.5,12,21,...,0,0,0,2,0,12.6,1960,22,169,7.760204
18,Aubameyang,ARS,FWD,110,207.1,484.0,580.0,127.1,15,10,...,1,0,0,0,0,25.0,1056,12,87,7.414773
280,Martial,MUN,MID,75,509.3,535.4,748.0,179.5,13,9,...,0,0,0,1,0,2.5,1572,7,125,7.156489
161,Giroud,CHE,FWD,80,311.1,307.0,673.0,129.0,11,7,...,0,0,0,0,0,7.7,981,10,77,7.064220
401,Son,TOT,MID,85,588.2,725.8,1177.0,249.1,18,12,...,0,0,0,0,0,8.7,2292,16,178,6.989529
372,Sako,CRY,MID,50,103.1,143.2,227.0,46.9,10,3,...,0,0,0,0,0,0.0,466,1,36,6.952790
324,Niasse,EVE,FWD,55,159.2,370.6,634.0,115.2,23,8,...,0,0,0,2,0,1.5,1076,14,83,6.942379
144,Fellaini,MUN,MID,50,88.2,246.0,264.0,59.8,1,4,...,0,0,0,1,0,0.9,611,3,47,6.923077